@import "tailwindcss";

@theme {
  --breakpoint-pc: 1920px;
  --breakpoint-ipad: 1180px;
  --breakpoint-phone: 390px;
  --font-ddin: var(--font-ddin);
  --font-ddinBold: var(--font-ddinBold);
  --white-90: var(--white-90);
}

:root {
  --background: #000;
  --foreground: #fff;
  --white-90: #F0F0FAE6;
  --white-hover: #F0F0FA;
  --white-10: #F0F0FA1A;
}


body {
  background-color: var(--background);
  color: var(--white-90);
  font-family: var(--font-ddin);
  letter-spacing: 0.02em;
}

h1{
  font-family: var(--font-ddinBold);
  font-size: 3rem;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

h2{
  font-family: var(--font-ddinBold);
  font-size: 0.813rem;
  margin:0;
  padding:0;
}

p{
  font-family: var(--font-ddin);
  margin:0;
  padding:0;
}

button{
  padding: 5px;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: var(--white-90);
}
