@import "tailwindcss";

@theme {
  --breakpoint-pc: 120rem;
  --breakpoint-ipad: 73.75rem;
  --breakpoint-phone: 24.375rem;
  --font-ddin: var(--font-ddin);
  --font-ddinBold: var(--font-ddinBold)
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ddin);
}
